/* Genrel body commands*/
body,
html {
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0%;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 10px;
  line-height: 100%;
}
h2 {
  font-size: 35px;
  font-weight: bold;
  margin: 10px;
  line-height: 100%;
}
p {
  font-size: 15px;
  font-weight: 400;
  margin: 10px;
  margin-bottom: 2%;
}
.button {
  background-color: #ff5959;
  border: none;
  color: white;
  margin: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 3%;
}

.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/hero_image.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.center {
  text-align: center;
  color: black;
}

#donate-today {
  padding: 5%;
  text-align: center;
}
#bdt-amount {
  display: flex;
  justify-content: center;
  align-items: center;
}
#bdt-amount p {
  width: 135px;
  margin: 0 5px;
  padding: 22px 20px;
  background-color: #fafafa;
  color: gray;
  font-family: "Inter";
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  border-radius: 5px;
}

#selected-box {
  border: 2px solid #ff5959;
  color: #ff5959 !important;
}

#bdt-input {
  color: #cecece;
  margin: 40px 135px 10px;
}

#line {
  width: 800px;
  border-bottom: 2px solid #cecece;
  margin: 0 110px 30px;
}

#our-donation {
  margin-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
}
#plans {
  display: flex;
}
.one-third-box-width {
  padding: 3%;
  margin: 20px 10px;
  border-radius: 2px;
}
#color1 {
  background: rgba(79, 157, 166, 0.1);
}
#color2 {
  background: rgba(255, 89, 89, 0.1);
}
#color3 {
  background: #fff4d6;
}
.one-third-box-width img {
  margin-top: 25px;
  margin-bottom: 10px;
}
.box-title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: black;
}
.box-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: gray;
  margin-top: 20px;
}
.need-education {
  height: 100%;
  margin: 20%;
  margin-left: 20%;
}
.need-image {
  background-image: url("images/image1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95%;
  position: relative;
}
.need-text {
  text-align: left;
  margin-left: 20%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.left {
  text-align: center;
  align-items: left;
  color: black;
}
#our-newsletter {
  padding-bottom: 10%;
  text-align: center;
  margin-top: 5%;
}
#form {
  background: blanchedalmond;
  width: 850px;
  padding: 7%;
  margin: 0 auto;
}
#form input {
  width: 450px;
  background: whitesmoke;
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  padding-right: 0;
}
#form a {
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  background-color: #ff5959;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  border-radius: 0px 7px 7px 0;
  padding: 10px 20px;
  margin-left: -10px;
}

footer {
  background: black;
  text-align: center;
  padding: 30px 0;
}
footer h3 {
  color: #ff5959;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: -10px;
}
footer p {
  color: whitesmoke;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
